[submodule "modules/google_cast"]
	path = modules/google_cast
	url = https://github.com/AspiroTV/Connect-SDK-Android-Google-Cast.git
	branch = mvn
[submodule "core"]
	path = core
	url = https://github.com/AspiroTV/Connect-SDK-Android-Core.git
	branch = mvn
[submodule "modules/firetv"]
	path = modules/firetv
	url = https://github.com/ConnectSDK/Connect-SDK-Android-FireTV.git
	branch = master
[submodule "modules/orange_cast"]

	path = modules/orange_cast

	url = https://github.com/AspiroTV/Connect-SDK-Android-Orange-Cast

	branch = mvn